.common-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh);
  background-image: url('../../assets/images/bg-boss.jpg');
  background-size: cover;
}